body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.info {
    font-size: 1.2em;
    color: #444;
    line-height: 1.5;
}

#main-image {
    display: block;
    margin: 20px auto;
    width: 50%;
    border: 3px solid #333;
    border-radius: 10px;
}

.section {
    padding: 20px;
    margin: 20px;
    background-color: #e0e0e0;
    border-radius: 8px;
}

.link {
    color: #007BFF;
    text-decoration: none;
}

.link:hover {
    color: #FF5733;
}
